<form method="post" action="{{ path('app_admin_emprunt_delete', {'id': emprunt.id}) }}" onsubmit="return confirm('Êtes-vous sûr(e) de vouloir supprimer cet emprunt ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ emprunt.id) }}">
    <button class="btn btn-danger"><i class="bi-trash"></i></button>
</form>
