<form method="post" action="{{ path('app_admin_abonne_delete', {'id': abonne.id}) }}" onsubmit="return confirm('Êtes-vous sûr(e) de vouloir supprimer cet abonné ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ abonne.id) }}">
    <button class="btn btn-danger"><i class="bi-trash"></i></button>
</form>
